body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
  /* background-image: url("../img/main-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
}

.description-section {
  background-image: url("../img/ultrawide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  filter: blur(2px);
  -webkit-filter: blur(2.5px);
}

.bg-text {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  text-align: center;
}

.bg-text > p {
  margin-top: 0;
  margin-bottom: 0;
}

.marvel {
  margin-top: 0;
  font-size: 40px;
}

.marvel-text {
  display: inline-block;
  justify-content: center;
  background-color: red;
  padding: 0px 5px;
  font-weight: 900;
}

.studios {
  display: inline-block;
  font-weight: 500;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  line-height: 40px;
  letter-spacing: -3px;
  font-size: 42px;
}

.ten-years {
  color: red;
}

.anniversary {
  font-size: 25px;
  letter-spacing: 7px;
  font-weight: 500;
}

.ordinal {
  vertical-align: super;
  font-size: 15px;
}

.ordinal2 {
  vertical-align: super;
  font-size: 10px;
}

.festival {
  margin-top: -10px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 9px;
}

.date-time {
  color: red;
  font-size: 20px;
  letter-spacing: 9px;
  font-weight: 700;
}

.exclusive {
  font-size: 20px;
  letter-spacing: 6px;
  font-weight: 500;
}

.imax {
  font-size: 30px;
  font-weight: 900;
  vertical-align: -10%;
  letter-spacing: 0;
}

.address {
  font-size: 15px;
  letter-spacing: 5.4px;
  font-weight: 700;
}

.ticket-section {
  text-align: center;
}

.ticket-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.pass {
  background-image: url(../img/pirchase-background.webp);
  background-size: cover;
  color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 350px;
}

.ticket-detail {
  text-align: left;
  flex: 1;
}

.buy-now-button {
  background-color: red;
  border: none;
  width: max-content;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  transition: background-color 0.1s, box-shadown 0.1s;
}

.buy-now-button:hover {
  background-color: rgb(236, 119, 119);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.buy-now-button:active {
  background-color: red;
  box-shadow: none;
}

.ticket-detail-list {
  margin: 0;
  margin-bottom: 30px;
  margin-left: -20px;
  list-style-type: none;
}

.ticket-detail-list > li {
  margin-bottom: 5px;
  background: url("../img/iron_logo.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 0 50%;
}

.ticket-title,
.ticket-price {
  margin: 0;
}

.ticket-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.ticket-price {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}

.ticket-section-title {
  margin-bottom: 0;
}

.comment {
  margin-top: 0;
}
